.blur-drop {
  animation-name: blur-drop;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.08, 0.34, 0.26, 1.11);
}

@keyframes blur-drop {
  from {
    -webkit-filter: blur(50px);
    transform: translateY(-100px);
    scale: 110%;
    opacity: 0%;
  }
  to {
    -webkit-filter: blur(0);
    transform: translateY(0);
    scale: 100%;
    opacity: 100%;
  }
}
