.root-layout {
  min-height: 100vh;
}

@media (min-width: 768px) {
  .root-layout::before {
    content: "";
    position: fixed;
    inset: 0;
    z-index: 0;
    pointer-events: none;
    background-image: url("@/assets/images/root/bg.main4.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.4;
  }
}
